.img1{
    width: 50%;
}
*{
    margin: 0;
    padding: 0;
}
.nav-div{
    background-color: #EEDC82;
    color: black;
}
.btn1{
    border-radius: 20px ;
    margin-left: 20px ;
    margin-right: 20px ;
}
.btn2{
    color: black;
}
.nav-item a:hover{
  box-shadow:2px 2px 5px lightslategray;
  background-color: #34568B; 
  color: white;
}
